footer {
  background: #00000092;
  padding: 1em;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

footer a {
  font-family: "Bebas Neue", cursive;
}

.inicio a {
  text-decoration: none;
  color: aquamarine;
  padding: 0.5em;
  align-items: center;
}

.correo a {
  text-decoration: none;
  color: #9999cc;
  padding: 1em;
}

footer a:hover {
  letter-spacing: 0.5em;
  transition: 0.45s ease;
  text-shadow: 0 0 30px 30px #c396fa;
}
