<h2>Experiencia</h2>
<p>
    -Dzazopulos Propiedades: 2021-2022 Santiago de Chile ✓ Edición de fotos
    con Adobe Lightroom y Adobe Photoshop. -Tienda retail Paris, Cencosud:
    2021 Santiago de Chile ✓ Apertura y cierre de cajas. ✓ Venta en caja. ✓
    Doblar y ordenar ropa, juguetes, calzados y artículos deporte.
    -Disquería 12 Pulgadas: 2018-2019 Santiago de Chile ✓ Volantera. -Kiosco
    escolar: 2013-2018 Santiago de Chile ✓ Venta en caja. -Tesorera escolar:
    2013-2016 Santiago de Chile ✓ Tesorería.
</p>