<h2>EXPERIENCIA</h2>
<ul>
    <li>
        <h1>Dzazopulos Propiedades</h1>
        <h4>Santiago de Chile</h4>
        <h3>2021-2022</h3>


    </li>
    <div>
        <p> ✓ Edición de fotos
            con Adobe Lightroom y Adobe Photoshop.</p>
    </div>
    <li>
        <h1>Tienda retail Paris, Cencosud</h1>
        <h4>Santiago de Chile</h4>
        <h3>2021</h3>
    </li>
    <div>
        <p> ✓ Apertura y cierre de cajas. ✓ Venta en caja. ✓
            Doblar y ordenar ropa, juguetes, calzados y artículos deporte.</p>
    </div>
    <li>
        <h1>Disquería 12 Pulgadas</h1>
        <h4>Santiago de Chile </h4>
        <h3>2018-2019</h3>
    </li>
    <div>
        <p> ✓ Volantera. -Kiosco
            escolar: 2013-2018 Santiago de Chile ✓ Venta en caja.</p>
    </div>
    <li>
        <h1>Tesorera escolar</h1>
        <h4>Santiago de Chile</h4>
        <h3>2013-2016</h3>
    </li>
    <div>
        <p> ✓ Tesorería.</p>
    </div>
</ul>