.redes a {
  align-items: center;
  display: flex;
  position: relative;
  text-decoration: none;
  justify-content: space-between;
  float: right;

  padding: 20px;
  margin: 1.5rem;
  size: 20rem;
  border-radius: 0.6rem;
  color: white;

  transition: 0.45s ease;
}

.redes a:hover {
  background: rgba(0, 128, 75, 0.386);
  color: #189155;
  padding: 1rem;
  align-items: center;
  box-shadow: inset 0 0 10px 5px #026835, 0 0 10px 5px #026835;
}

.redes .ingreso:hover {
  color: #9900cc;
  background: #280036;
  box-shadow: inset 0 0 10px 5px #9900cc, 0 0 10px 5px #9900cc;
}
