article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Dosis", sans-serif;
  color: "#3ded97";
}

article outerStroke {
  position: relative;
  margin: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 20px 2px rgb(3, 30, 1), 0 0 50px 2px rgb(4, 30, 1);
  --bgColor: rgb(54, 209, 40);
  font-family: "Dosis", sans-serif;
}
