<article>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="15"></div>
        <div class="text">
            <h2 class="numero">17%</h2><small>HTML</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="15"></div>
        <div class="text">
            <h2 class="numero">15%</h2><small>CSS</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="10"></div>
        <div class="text">
            <h2 class="numero">10%</h2><small>JavaScript</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="30"></div>
        <div class="text">
            <h2 class="numero">30%</h2><small>Photoshop</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="15"></div>
        <div class="text">
            <h2 class="numero">15%</h2><small>Processing</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="20"></div>
        <div class="text">
            <h2 class="numero">20%</h2><small>Ilustrator</small>
        </div>
    </div>
    <div class="box">
        <div class="circle" data-dots="100" data-percent="15"></div>
        <div class="text">
            <h2 class="numero">15%</h2><small>PureData</small>
        </div>
    </div>
</article>