<article>

    <circle-progress [percent]="17" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="HTML"
        [animationDuration]="300">HTML</circle-progress>

    <circle-progress [percent]="15" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="CSS"
        [animationDuration]="300">CSS</circle-progress>

    <circle-progress [percent]="10" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="JavaScript"
        [animationDuration]="300">JavaScript</circle-progress>

    <circle-progress [percent]="30" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="Photoshop"
        [animationDuration]="300">Photoshop</circle-progress>

    <circle-progress [percent]="13" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="Processing"
        [animationDuration]="300">Processing</circle-progress>

    <circle-progress [percent]="20" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        subtitleFontSize="25px" [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitle="Ilustrator"
        [animationDuration]="300">Ilustrator</circle-progress>

    <circle-progress [percent]="15" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="2" titleFontSize="40px"
        [outerStrokeColor]="'#00c300'" [innerStrokeColor]="'#002800'" [animation]="true" subtitle="PureData"
        [titleColor]="'#3ded97'" [subtitleColor]="'#03ac13'" subtitleFontSize=" 25px"
        [animationDuration]="300">PureData</circle-progress>

</article>
<script src="./../../../assets/js/circulos.js"></script>