<button class="btn" (click)="onClick()">{{text}}</button>
<ul class="redes">
    <div class="col-1">
        <a href="http://www.instagram.com/titere_sin.nombre/">
            <i class='fa fa-instagram'></i></a>

        <a href="https://www.facebook.com/vale.lopezdzazopulos.5/">
            <i class='fa fa-facebook'></i></a>

        <a href="https://github.com/OrionBarly"><i class='fa fa-github'></i></a>
    </div>
</ul>

<ul class="logein">
    <div class="col-1">
        <a href="login.html">
            <i class='fa fa-cogs'></i>
        </a>
    </div>
</ul>