.logo {
  display: flex;
  align-items: center;
  margin: 0 50px;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}

.redes a {
  align-items: center;
  text-decoration: none;
  transition: 0.45s ease;
  float: right;
  color: white;
  size: 30rem;
  display: flex;
  margin: 2rem;
  border-radius: 0.6rem;
  position: relative;
  padding: 0.5rem;
  overflow: none;
}

.redes a:hover {
  background: green;
  padding: 1rem;
}

.logein a {
  align-items: center;
  color: aliceblue;
  transition: 0.45s ease;
  border-radius: 0.6rem;
  display: flex;
  overflow: none;
  text-decoration: none;
  margin: 2rem;
}

.logein a:hover {
  padding: 1rem;
  background: #9999cc;
}
